footer {
    background-color: $primary-color;
    padding: 15px 25px;
    width: calc(100% - 50px);

    .logo {
        width: 100px;
        height: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        font-size: 15px;
    }

    .footer-socials {
        svg {
            padding: 5px 15px 5px 0;
        }

        svg:hover path {
            fill: $secondary-color-dark; /* Change this to any color you like */
        }
    }
    
}